# Global Configuration
aws_region  = "ap-northeast-1"
environment = "staging"
project_name = "andere-boxing"
github_repository = "yomi4486/andere-boxing"

# VPC Configuration
vpc_cidr                            = "10.0.0.0/16"
public_subnet_cidr                  = "10.0.0.0/24"
private_subnet_eks_cidr             = "10.0.10.0/23"
private_subnet_observability_cidr   = "10.0.20.0/23"
private_subnet_lambda_cidr          = "10.0.30.0/22"

# VPC Flow Logs
vpc_flow_logs_retention_days = 7

# ECR Configuration
ecr_repository_names = ["api", "worker"]
ecr_image_tag_mutability = "IMMUTABLE"
ecr_scan_on_push = true
ecr_retention_days = 30

# IAM Configuration
github_actions_role_name = "github-actions-role"
